@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f5fb;
  --foreground: #2f2f2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f2f2f;
    --foreground: #e0e0e0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
